    /** HPF Finance Co,.Ltd Main Style */

    /* <------------End style-------------> */
    body{
        /*<=======តំបន់ដូរFont=======>*/
        background-attachment: fixed;
        font-family: 'Bayon', sans-serif;
        /*<=======តំបន់ដូរFont=======>*/
    }

    .text-border-bttom {
        border-bottom: 2px solid #4A9ED5;
    }

    .space-top-small {
        margin-top: 12px;
    }

    .space-top-meduim {
        margin-top: 24px;
    }

    .space-top-large {
        margin-top: 32px;
    }
    .space-bottom-small {
        margin-bottom: 16px;
    }

    .space-offset-small {
        margin: 12px;
    }

    .space-left-tiny {
        margin-left: 6px;
    }
    .pharagraph-height-content{
        line-height: 1rem;
    }
    .pharagraph-height{
        line-height: 2rem;
    }
    .pharagraph-indent{
        text-indent: 3rem;
    }
    .title-underline{
        text-decoration: underline #4A9ED5 2px;
        text-underline-position: under
    }
    .horizontal-line{
        margin-top: 1rem;
        margin-bottom: 1rem;
        border: 0;
        border-top: 1px solid #ECA542;
    }
    .hide-me{
        opacity:0;
    }

    /* Button and input Search*/
    .button-submit {
        border-radius: 10px 10px 10px 10px !important;
        margin-top: 20px;
        float: right;
        width: 90px;
        color: #818182 !important;
    }

    .button-search{
        color: gray;
        border: 1px solid #ccc;
        background-color: #fff !important;
    }
    .button-search:hover{
        border: 1px solid #ccc;
        color: whitesmoke !important;
        background-color: #4A9ED5 !important;
    }
    .input-search:focus{
        border-color: #4A9ED5;
        box-shadow: 0px 0px 1px #4A9ED5;
    }

    /* Core value */
    .bg-core-value{
        background-color: #cccccc5c;
    }

    /* Footer */
    .footer{
        padding-top: 32px;
        background: #003679;
        padding-bottom: 32px;
    }
    .footer-input{
        color: #fff;
        border: 2px solid #fff;
        background-color: #ECA542 !important;
    }
    .footer-input:focus {
        color: #fff;
        border-color: #fff;
        box-shadow: 0px 0px 5px #fff;
    }
    .footer-button-submit{
        width: 100px;
        color: #ECA542;
        background-color:#003679;
    }
    .footer-button-submit:hover{
        width: 100px;
        color: #ffbb38;
        background-color: #ECA542;
    }

    .padding-modal-header {
        padding: 40px 120px 0 120px;
        border-bottom: 0;
    }

    .padding-modal-body {
        padding: 70px 120px;
    }

    .margin-form-control {
        margin-bottom: 25px;
    }

    .my-link:link, .my-link::visited{
        color: #000;
        display: inline-block;
        text-decoration: none;
    }

    .my-link:hover{
        color: #EAA7A7 !important;
        text-decoration: none;
    }

    .required:after {
        content:" *";
        color: red;
    }

    .gallery-item {
        margin: 20px 10px 0px 10px;
        width: 200px;
        height: 200px;
        /*object-fit: cover;*/
        border-radius: 5px;
    }

    .gallery-item:hover {
        box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
    }

    /* For menu only */
    .custom-menu-active {
        background-color: #ffbb38;
        color: whitesmoke !important;
    }

    .custom-menu {
        background-color: #fff !important;
    }

    .nav-item a:hover {
        background-color: #003679 !important;
        color: whitesmoke !important;
    }

    .nav-item a:focus {
        background-color: #4A9ED5 !important;
        color: whitesmoke !important;
    }

    .grid-container {
        display: grid;
        grid-template-columns: auto auto;
        grid-column-gap: 60px;
        grid-row-gap: 40px;
        padding: 0;
    }

    .grid-container > div {
        height: 300px;
        border-radius: 5px;
        border-color: gray;
    }

    .grid-container > div:hover {
        box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
    }

    .grid-item-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 5px;
    }
    .align-value {
        font-weight: bold;
    }
    .avatar {
        border: 2px solid #EAA7A7;
    }
    .padding-modal-body {
        padding-top: 25px;
    }
    .container{
        background-color: #ffbb38;;
        border-radius: 5px;

    }


    /* <------------End style-------------> */