/* Code By Webdevtrick ( https://webdevtrick.com ) */
body {
  background-image: url(background.jpg);
}
.container {
  height: 60vh;
  position: relative;
  color: red;
}
.calculate-form {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -40%);
}
#loading,
#result {
  display: none;
}
@media (max-width: 750px) {
  #loading img {
    width: 100%;
  }
}